.header {
  min-width: 25%;
  background: rgb(0, 0, 117);
  height: 200px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.headerAndNavContainer {
  display: flex;
  justify-content: space-between;
}

.navBar {
  min-width: 60%;
  background-color: rgba(0, 81, 255, 0.096);
  justify-content: space-evenly;
  max-height: 125px;
  border-bottom-left-radius: 15px;
}
.navItems {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  min-width: 20%;
  font-size: 100%;
}

.navText{
  display: flex;
  border-radius: 5px;
  justify-content: center;
  background-color: rgb(0, 0, 117);
  font-size: 45px;
  color: white;
}